main{
    background-color: rgb(45, 45, 45);
    color: rgb(192, 211, 175);
}
*{
    background-color: rgb(45, 45, 45);
    color: rgb(192, 211, 175);
}
input{
    background-color: rgb(45, 45, 45);
    color: rgb(192, 211, 175);
}
.input::placeholder{
    color: rgb(117, 158, 79);
}
.navbar {
    border-color: rgb(45, 45, 45);
}
.card {
    border-color: rgb(92, 68, 89);
    border-width: 3px;
}